h1 {
  font-family: coquette, sans-serif;
  font-weight: 900;
}

h2 {
  font-family: coquette, sans-serif;
  font-weight: 700;
}

.btn-invisible {
  padding: 0;
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.btn-invisible:focus,
.btn-invisible:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

@media only screen and (min-width: 38em) {

  .right-align {
    text-align: right;
  }

  .left-align {
    text-align: left;
  }

}
